.dsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}


.dsmeta-titulo-vendas {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.dsmeta-controle-formulario-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.dsmeta-controle-formulario {
    height: 46px;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;
    width: 100%;
    color: #9aaabe;
    padding: 0 20px;
    font-size: 18px;
}

.dsmeta-tabela-vendas {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsmeta-tabela-vendas thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;

}

.dsmeta-tabela-vendas tbody {
    font-size: 14px;
    font-weight: 400;
    color: #cfcfcf;
    text-align: center;
}

.dsmeta-tabela-vendas tbody tr {
    height: 74px;
    border-top: 1px solid #5f6e82;
}

.dsmeta-tabela-vendas tbody tr:hover>td {
    background-color: #384459;

}

.dsmeta-tabela-vendas tbody tr:nth-child(odd) {
    background-color: #242c3b;
}

.dsmeta-botao-vermelho-container {
    display: flex;
    justify-content: center;
}

.mostrar-576px {
    display: none;
}

.mostrar-992px {
    display: none;
}

@media (min-width: 576px) {
    .mostrar-576px {
        display: table-cell;
    }

    .dsmeta-card {
        padding: 35px;
    }

    .dsmeta-tabela-vendas tbody tr {
        height: 55px;
    }

    .dsmeta-tabela-vendas tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .mostrar-992px {
        display: table-cell;
    }
}